@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

@font-face {
    font-family: 'Bot';
    src: url("/css/bot.otf") format("opentype");
}

body {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  background: #232427;
  zoom: 90%;
  min-height: 100vh;
}

p {
  font-family: "Bot";
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 300px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
  margin-top: 10px;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
  margin-bottom: -10px;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
  margin-top: 46px;
}

body .container .card:nth-child(4) .box .content a {
  background: #A9A9A9;
  margin-top: 10px;
}


body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.7rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}


body::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.card {
    background-color: rgb(36,36,33);
    width: 250px;
    height: 300px;
    border-radius: 15px;
}

.cardd {
  background-color: rgb(36,36,33);
  width: 250px;
  height: 300px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}


.adjust .rounded-circle {
    border-radius: 70px;
    position: relative;
    border: 6px solid #18191c;
    background-color: #18191c;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;

}

.adjust .top .banner {
    position: absolute;
    background-color: rgb(104 115 142);
    width: 250px;
    height: 70px;
    border-radius: 15px 15px 4px 4px;
}

.tag {
    font-size: 20px;
    line-height: 24px;
    margin-left: 15px;
    word-break: break-word;
    white-space: normal;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.nick {
    font-family: "Helvetica Neue", Helvetica;
    color: #fff;
    font-weight: 700;
    overflow: auto;
    word-break: break-all;
    text-overflow: unset;
    vertical-align: top;
    display: inline;

  }

.descri {
    font-family: "Helvetica Neue", Helvetica;
    vertical-align: top;
    font-weight: 600;
    color: #b9bbbe;
}

.github {
    flex-shrink: 1;
    flex-grow: 0;
    align-items: center;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;
    padding: 8px;
    width: 200px;
    height: 20px;
    border: 1px solid;
    border-color: hsl(0deg 0% 100% / 6%);
}

.githubicon {
  width: 30px;
  height: 30px;
  margin-top: -4px;
  flex-shrink: 0;
}

.name {
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: -34px;
    color: #fff;
}

.svgicon {
    color: #fff;
    position: relative;
    flex-shrink: 0;
    top: -22px;
    margin-left: 150px;
}

footer {
    color: #FFFFFF;
    font-family: 'Bot';
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    margin-top: 100px;
    padding-bottom: 10px;
}

footer>hr {
    display: block;
    width: 45%;
    margin: auto;
    color: #ecce0de1;
}

footer>p {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.copyright {
    font-size: 18px;
    margin-top: 10px;
}

.links>a {
    color: #ffe601;
    text-decoration: none;
    transition-duration: 0.3s;
}

.links>a:hover {
    color: #ceb900;
}
